body{   
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: caveat;        
    background:#ffffff;
    background-size: 600% 600%;        
}




mg#logo{
    display: block;
    margin-left: 80px;
    margin-top: 0;
    padding-top: 20px;
}


p .texto-rodape{
        color: #ffffff;
        
}
p{    
    color:#302e2eb3;
    text-align: justify;    
}
h1{
    padding-left: 92px;
    text-align: justify;
    color: black;
}
.cabecalho{
    
    background: #0F637A;
    
}
.cabecalho img{
    padding: 5px 5px 25px 5px;
    margin-left: 92px;
    margin-top: 20px;
    height: 40px;
    
}
.rodape{
    max-block-size: 0%;
    margin-top: 200px;
    padding: 50px;
    align-items: center;
    font-family: caveat;
    background:#0F637A;
    color: #ffffff;
    
}
section#corpo{
    margin-left: 92px;
    display: block;
    width: 500px;    
    float: left;
    border-right: 1px solid #ffffff;
}
section#tabela-container{
    float: right;
}
